<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Food</title>
</head>
<body>
    <h1>Add Food</h1>
    <form action="./add-food" method="POST" style="width:100px">
        <label for="name">Food Name:</label>
        <input type="text" name="name" value="">
        <br><br>
        <label for="price">Food Price:</label>
        <input type="text" name="price" value="">
        <br><br>
        <label for="category">Food Category:</label>
        <select name="category">
                <% category.forEach(result => {%>
                    <option value=" <%= result.name %>">
                        <%= result.name %>
                    </option>
                    <%})%>
        </select>
        <br><br>
        <button>Add Food</button>

    </form>
    
    
</body>
<%- include('../partials/footer.ejs') %>

</html>