<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home</title>
</head>
<body>
    <h1>Welcome <---Insert Name Here---></h1>
    <h3>Please select which data you would like to access</h3>
    <button onclick="window.location.href='./admin/food'">Food</button>
    <button onclick="window.location.href='./admin/customers'">Customers</button>



    

</body>
</html>