<footer style="border-top:2px solid black; width: 100%;margin-top:10px">
    <br>
    <button onclick="window.location.href='/'">Home Page</button>
    <button onclick="window.location.href='/admin'">Admin Home</button>
    <button onclick="window.location.href='/customer/food/list'">Customer Home</button>
    <button onclick="window.location.href='/logout'">Logout</button>
</footer>