<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>
<body>
    <h1>We're Sorry . . .</h1>
    <h3>But the following page cannot be accessed with the following error message:</h3>
    <br>
    <%=error%>
    
</body>
</html>