<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Restaurant</h1>
    <h3>Please select one of the following:</h3>
    <h4>New here? Come an register</h4>
    <button onclick="window.location.href='/register'">Register</button>

    <h4>Already a member? Then lets get started</h4>
    <button onclick="window.location.href='./customer/login'">Customer</button>
    <button onclick="window.location.href='./admin/login'">Admin</button>


    
</body>
<%-include('./partials/footer.ejs')%>
</html>